.git
.github
node_modules
coverage
docs
test
*.md
!README.md
.env
.env.*
!.env.sample
.editorconfig
.prettierrc.json
.prettierignore
eslint.config.js
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
.DS_Store
